################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WingtipToys/obj
/WingtipToys/Properties/PublishProfiles
/WingtipToys/bin
/WingtipToys/App_Data
/WingtipToys/obj
/WingtipToys/*.csproj*
